.title{
  
    font-size: 30px;
}

table {
    border-collapse: collapse;
    width: 80%;
}

table, td, th {
    border: 1px solid black;
}

.ui.fixed.menu, .ui.top.fixed.menu{
    height: 100px;
    display: flex;

}

.nav{
    margin-left:200px;
    display: flex;
    justify-content: space-between;
    width:800px;

}

.sea{
    margin-left: 100px;
    margin-top:300px;
    width: 400px;
    display: flex;
}

form{
    display: flex;
    width: 300px;
}