{% extends 'ClothingInventoryProject/layout.html'%}


{% block content %}
    <div class="ui three column grid" id="color">
                {% for c in cloth %}
                <div class="column">
                  <div class="ui fluid card clothcolor">
            <div style="background-color:{{c.Color}}" class="color"><a href='/search/?q={{c.Color}}'>{{ c.Color }}</a> </div>
                      
                    </div>
                    </div>
      
          {%endfor%}
       
      </div>




{% endblock %}